PORT=3001
CLIENT_URL=http://localhost:3000
FIREBASE_SERVICE_ACCOUNT={"type": "service_account", "project_id": "your-project-id", ...}
DEBUG_MODE=true
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
